#Task{
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 40px;
  background-color: lightgray;
  transition: all 0.3s;
}

#Task:hover{
  scale: 1.1;
  height: auto;
}

#Task>input[type="checkbox"]{
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 3px solid white;
  outline: 3px solid #6c63ff;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;  
}

#Task>input[type="checkbox"]:checked {
  background-color: #6c63ff;
}

#Task>input[type="checkbox"]:checked+textarea {
  text-decoration: line-through;
}

#Task:has(input[type="checkbox"]:checked){
  background-color: #00cc00;
}

#Task:has(textarea:focus){
  background-color: #f7ce5d;
  scale: 1.1;
  height: auto;  
}

#Task>textarea{
  width: 220px;
  overflow: hidden;
  transition: all 0.3s;
  resize: vertical;
}

#Task>button{
  background-color: white;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  aspect-ratio: 1/1;
  transition: all 0.3s;
  cursor: pointer;
}

#Task>button:hover{
  transform: scale(1.2);
}