#Task{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 15px;
  background-color: lightgray;
  transition: all 0.3s;
}

#Task:hover{
  scale: 1.1;
}

#Task>input[type="checkbox"]{
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 3px solid white;
  outline: 3px solid #6c63ff;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;  
}

#Task>input[type="checkbox"]:checked {
  background-color: #6c63ff;
}

#Task>input[type="checkbox"]:checked+div input,
#Task>input[type="checkbox"]:checked+div textarea{
  text-decoration: line-through;
}

#Task:has(input[type="checkbox"]:checked){
  background-color: #00cc00;
}

#Task:has(input[type="text"]:focus),
#Task:has(textarea:focus){
  background-color: #f7ce5d;
  scale: 1.1;
}

#Task:has(h2){
  background-color: rgba(170, 3, 3, 0.863) !important;
}

#text_fields{
  display: flex;
  flex-direction: column;
  width: 300px;
}

#text_fields>h2{
  text-align: center;
  margin: 0;
  font-size: 20px;
}

#text_fields>input{
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  height: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

#text_fields>textarea{
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  max-height: 30px;
  min-height: 30px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

#text_fields>textarea:focus{
  max-height: none;
}

#Task>button{
  background-color: white;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  aspect-ratio: 1/1;
  transition: all 0.3s;
  cursor: pointer;
}

#Task>button:hover{
  transform: scale(1.2);
  background-color: red;
}